<%- include('../layouts/adminheader.ejs') %>

<div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="/adminassets/imgs/theme/logos.png" class="logo" alt="Evara Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item">
                    <a class="menu-link" href="/admin/dashboard"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/userlist">  <i class="icon material-icons md-person"></i>
                        <span class="text">User</span>
                    </a>
 
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/category"> <i class="icon material-icons md-store"></i>
                        <span class="text">Category</span>
                    </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/product"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Product</span>
                    </a>
                </li>
        
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/orderlist"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                   
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/salesReport"> <i class="icon material-icons md-monetization_on"></i>
                        <span class="text">SalesReprot</span>
                    </a>
                   
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/coupon"> <i class="icon material-icons md-person"></i>
                        <span class="text">Coupon</span>
                    </a>
            
                </li>
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/bannerlist"> <i class="icon material-icons md-comment"></i>
                        <span class="text">banner</span>
                    </a>
                </li>
            </ul>
            <hr>
           
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search term">
                        <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                            <span class="badge rounded-pill">3</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                            <a class="dropdown-item text-brand" href="#"><img src="assets/imgs/theme/flag-us.png" alt="English">English</a>
                            <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-fr.png" alt="Français">Français</a>
                            <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-jp.png" alt="Français">日本語</a>
                            <a class="dropdown-item" href="#"><img src="assets/imgs/theme/flag-cn.png" alt="Français">中国人</a>
                        </div>
                    </li>
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="assets/imgs/people/avatar2.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="#"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <form action="" method="post" enctype="multipart/form-data" id="banner-form">
        <section class="content-main">
            <div class="row">
                <div class="col-9">
                    <div class="content-header">
                        <h2 class="content-title">Add Banner</h2>
                        <div>
                            <button class="btn btn-md rounded font-sm hover-up">Save</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            
                                <div class="mb-4">
                                    <label for="product_name" class="form-label">Banner Name</label>
                                    <input type="text" placeholder="Type here" name="title" class="form-control" id="banner-name">
                                    <div class="error-message" style="color:red;" id="banner-name-error"></div>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Link</label>
                                    <input type="text" placeholder="Type here" name="link" class="form-control" id="link">
                                    <div class="error-message" style="color:red;" id="link-error"></div>
                                </div>
                                    <div class="mb-4">
                                        <label class="form-label">Subtitle</label>
                                        <input type="text" name="subtitle" placeholder="Type here" class="form-control" id="banner_subtitle">
                                        <div class="error-message" style="color:red;" id="banner_subtitle"></div>
                                    </div>
                                        <div class="mb-4">
                                            <label class="form-label">Offer</label>
                                            <input placeholder="Type here" type="text" name="offer" class="form-control" id="offer">
                                            <div class="error-message" style="color:red;" id="offer-error"></div>
                                        </div>
                                        <div class="row gx-2">
                                        <div class="col-sm-6 mb-3">
                                        <div class="mb-4">
                                            <label class="form-label">Start Date</label>
                                            <input type="date" placeholder="Type here" name="fromDate" class="form-control" id="fromDate">
                                            <div class="error-message" style="color:red;" id="fromDate-error"></div>
                                        </div>
                                        </div>
                                        <div class="col-sm-6 mb-3">
                                            <div class="mb-4">
                                                <label class="form-label">Expiry Date</label>
                                                <input type="date" placeholder="Type here" name="expiryDate" class="form-control" id="expiryDate">
                                            <div class="error-message" style="color:red;" id="expiryDate-error"></div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div> <!-- card end// -->
                    <!-- card end// -->
                </div>
                <div class="col-lg-3">
                    <div class="card mb-4">
                        <div class="card-header">
                            <h4>Image</h4>
                        </div>
                        <div class="card-body">
                            <div class="input-upload">
                                <img id="image-preview" src="../public/adminassets/imgs/theme/upload.svg" alt="">
                                <input class="form-control" type="file" name="image" id="banner_image" accept="image/*">
                                <div class="error-message" style="color:red;" id="banner_image-error"></div>
                            </div>
                        </div>
                    </div> <!-- card end// -->
                    <div class="card mb-4">
                     
                        <div class="card-body">
                            <div class="row gx-2">
                                <div class="col-mb-3">
                                    <label class="form-label">Banner Type</label>
                                    <select id="bannerType" class="form-select" name="bannerType">
                                        <option value="">Select Category</option>
                                      
                                        <option value="New Arrival">New Arrival</option>
                                        <option value="Deals and Promotions">Deals and Promotions</option>
                                        <option value="Seasonal Sales">Seasonal Sales</option>
                                    </select>
                                </div>
                                <!-- <div class="mb-4" id="categoryDiv" style="display: none;">
                                    <label for="bannerCategory" class="form-label">Category</label>
                                    <select id="bannerCategory" class="form-select" name="bannerCategory">
                                        <option value="">Category</option>
                                
                                        <% if (category.length > 0) {
                                            for (let i = 0; i < category.length; i++) { %>
                                                <option value="<%= category[i].name %>"><%= category[i].name %></option>
                                            <% }
                                        } %>
                                    </select>
                                </div> -->
                                <!-- <div class="mb-4" id="productDiv" style="display: none;">
                                    <label for="bannerProduct" class="form-label">Product</label>
                                    <select id="bannerProduct" class="form-select" name="product">
                                        <option value="">Select Product</option>
                                        <% if (product.length > 0) {
                                            for (let i = 0; i < product.length; i++) { %>
                                                <option value="<%= product[i]._id %>"><%= product[i].name %></option>
                                            <% }
                                        } %>
                                    </select>
                                </div> -->
                                                         
                            </div> <!-- row.// -->
                        </div>
                    </div> <!-- card end// -->
                </div>
            </div>
        </section> <!-- content-main end// -->
     </form>
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, AUDIONIX .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="assets/js/vendors/select2.min.js"></script>
    <script src="assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="assets/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="assets/js/main.js" type="text/javascript"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const bannerTypeSelect = document.getElementById('bannerType');
            const categoryDiv = document.getElementById('categoryDiv');
            const productDiv = document.getElementById('productDiv');
        
            bannerTypeSelect.addEventListener('change', function () {
                const selectedValue = bannerTypeSelect.value;
        
                // Hide both divs by default
                categoryDiv.style.display = 'none';
                productDiv.style.display = 'none';
        
                // Show the appropriate div based on the selected value
                if (selectedValue === 'Category Banner') {
                    categoryDiv.style.display = 'block';
                } else {
                    productDiv.style.display = 'block';
                }
            });
        });
        </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const form = document.getElementById('banner-form');
    
            form.addEventListener('submit', function (event) {
                let isValid = true;
    
                // Reset error messages
                document.querySelectorAll('.error-message').forEach(function (error) {
                    error.textContent = '';
                });
    
                // Validate input fields
                const requiredFields = ['banner-name', 'link','offer', 'banner_subtitle', 'offer', 'fromDate', 'expiryDate'];
                requiredFields.forEach(function (fieldName) {
                    const input = document.getElementById(fieldName);
                    if (!input.value.trim()) {
                        isValid = false;
                        const errorMessage = document.getElementById(fieldName + '-error');
                        errorMessage.textContent = 'This field is required.';
                    }
                });

                if (expiryDate.trim() === '') {
        displayErrorMessage('expiry', 'Expiry date is required');
        return false;
      } else {
        var currentDate = new Date();
        var selectedDate = new Date(expiryDate);
  
        if (selectedDate < currentDate) {
          displayErrorMessage('expiry', 'Expiry date must be greater than or equal to the current date');
          return false;
        }
      }
    
                // Validate file input
                const fileInput = document.getElementById('banner_image');
                if (!fileInput.files.length) {
                    isValid = false;
                    const errorMessage = document.getElementById('banner_image-error');
                    errorMessage.textContent = 'Please select an image.';
                } else {
                    // Check image dimensions
                    const img = new Image();
                    img.src = URL.createObjectURL(fileInput.files[0]);
    
                    img.onload = function () {
                        if (img.width < 1200 || img.height < 600) {
                            isValid = false;
                            const errorMessage = document.getElementById('banner_image-error');
                            errorMessage.textContent = 'Image should be height => 600 and width =>1200';
                            fileInput.value = ''; // Clear the file input
                        }
                    };
                }
    
                // Prevent form submission if validation fails
                if (!isValid) {
                    event.preventDefault();
                }
            });
        });
    
    
    </script>
    
    <script>
        const imagePreview = document.getElementById('image-preview');
        const categoryImageInput = document.getElementById('banner_image');
        
        categoryImageInput.addEventListener('change', function() {
          if (this.files && this.files[0]) {
            const reader = new FileReader();
        
            reader.onload = function(e) {
              imagePreview.src = e.target.result;
            };
        
            reader.readAsDataURL(this.files[0]);
          } else {
            imagePreview.src = "../public/adminassets/imgs/theme/upload.svg";
          }
        });
        
        </script>

<%- include('../layouts/adminfooter.ejs') %>