<%- include('../layouts/header.ejs')%>

<div class="page-wrapper">
    <header class="header">
        <div class="header-top">
            <div class="container">
                <div class="header-left">
                    <!-- End .header-dropdown -->

                   <!-- End .header-dropdown -->
                </div><!-- End .header-left --><!-- End .header-right -->
            </div><!-- End .container -->
        </div><!-- End .header-top -->

        <div class="header-middle sticky-header">
            <div class="container">
                <div class="header-left">
                    <button class="mobile-menu-toggler">
                        <span class="sr-only">Toggle mobile menu</span>
                        <i class="icon-bars"></i>
                    </button>

                    <a href="index.html" class="logo">
                        <img src="assets/images/logos.png" alt="Molla Logo" width="105" height="25">
                    </a>

                    <nav class="main-nav">
                        <ul class="menu sf-arrows">
                            <li class="megamenu-container active">
                                <a href="/home" class="sf-with">Home</a>

                                <!-- End .megamenu -->
                            </li>
                            <li>
                                <a href="/shop" class="sf-with">Shop</a>

                                <!-- End .megamenu megamenu-md -->
                            </li>
                            <li>
                                <a href="#" class="sf-with">Product</a>

                                <!-- End .megamenu megamenu-sm -->
                            </li>
                            <li>
                                <a href="#" class="sf-with">Pages</a>

                                <ul>
                                    <li>
                                        <a href="about.html" class="sf-with">About</a>
                                    </li>
                                    <li>
                                        <a href="contact.html" class="sf-with">Contact</a>      
                            </li>
                            <li>
                                <a href="elements-list.html" class="sf-with">Elements</a>

                             
                            </li>
                        </ul><!-- End .menu -->
                    </nav><!-- End .main-nav -->
                </div><!-- End .header-left -->

                <div class="header-right">
                    
                </div><!-- End .header-right -->
            </div><!-- End .container -->
        </div><!-- End .header-middle -->
    </header><!-- End .header -->
    <main class="main">
    <!-- End .breadcrumb-nav -->
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Navigation</h5>
                        <ul class="list-group">
                            <li class="list-group-item"><a href="/profile" class="text-decoration-none">Profile</a></li>
                            <li class="list-group-item"><a href="/changepassword" class="text-decoration-none">Change Password</a></li>
                            <li class="list-group-item"><a href="/wallet" class="text-decoration-none">Wallets</a></li>
                            <li class="list-group-item"><a href="/coupon" class="text-decoration-none">Coupon</a></li>
                            <li class="list-group-item"><a href="/orderDetails" class="text-decoration-none">Order History</a></li>
                            <li class="list-group-item"><a href="/address" class="text-decoration-none">Address</a></li>
                            <li class="list-group-item"><a href="/logout" class="text-danger text-decoration-none">[-> Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
           <div class="col md-4">
            <div class="card">
                <form action="" method="post" onsubmit="return validateForm()" >
                    <input type="hidden" name="addressId" value="<%=addressData._id %>" id="">
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputPhone">Name</label>
                        <input type="text" name="name" value="<%= addressData.name %>" class="form-control" id="inputText" placeholder="Name">
                        <div class="error-message" style="color:red;" id="inputText-error"></div>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputPhone">Phone Number</label>
                        <input type="text" name="mobile" value="<%= addressData.mobile %>" class="form-control" id="inputPhone" placeholder="10-digit phone number">
                        <div class="error-message" style="color:red;" id="inputPhone-error"></div>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputPincode">Pincode</label>
                        <input type="number" name="pincode" value="<%= addressData.pincode %>" class="form-control" id="inputPincode" placeholder="Pincode">
                        <div class="error-message" style="color:red;" id="inputPincode-error"></div>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputDistrict">District</label>
                        <input type="text" value="<%= addressData.district %>" name="district" class="form-control" id="inputDistrict" placeholder="District">
                        <div class="error-message" style="color:red;" id="inputDistrict-error"></div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputAddress">Address</label>
                      <textarea name="address"  class="form-control" id="inputAddress" placeholder="Address Area/street"><%= addressData.address%></textarea>
                      <div class="error-message" style="color:red;" id="InputAddress-error"></div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputCity">City</label>
                        <input type="text" name="city" value="<%= addressData.city %>" class="form-control" id="inputCity">
                        <div class="error-message" style="color:red;" id="inputCity-error"></div>
                      </div>
                       <div class="form-group col-md-6">
                        <label for="inputState">State</label>
                        <input type="text" name="state" value="<%= addressData.state  %>" class="form-control" id="inputState" placeholder="State">
                        <div class="error-message" style="color:red;" id="inputState-error"></div>
                      </div>
                    
                    </div>
                    <div class="form-group">
                        <h6>Address Type</h6>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" name="addresstype" type="radio" id="inlineRadio1" value="true" <%if(addressData.addresstype === true ){ %>checked <% }%>>
                            <label class="form-check-label" for="inlineRadio1">Home</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" name="addresstype" type="radio" id="inlineRadio2" value="false" <%if(addressData.addresstype === false ){ %>checked <% }%>>
                            <label class="form-check-label" for="inlineRadio2">Work</label>
                        </div>
                    </div>                    
                    <!-- <input type="submit" class="btn btn-danger" value="cancel"> -->
                    <button type="submit" class="btn btn-primary">Update</button>
                  </form>
            </div>
           </div>
            
        </div>
    </div>
        <!-- <div class="error-content text-center" style="background-image: url(assets/images/backgrounds/headphonebig.jpg)"> -->
    </main><!-- End .main -->
    <footer class="footer">
        <div class="footer-middle border-0">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="widget widget-about">
                            <img src="assets/images/logos.png" class="footer-logo" alt="Footer Logo" width="105" height="25">
                            <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. </p>

                            <div class="social-icons">
                                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
                                <a href="#" class="social-icon" target="_blank" title="Pinterest"><i class="icon-pinterest"></i></a>
                            </div><!-- End .soial-icons -->
                        </div><!-- End .widget about-widget -->
                    </div><!-- End .col-sm-6 col-lg-3 -->
<!-- End .col-sm-6 col-lg-3 -->

                   
                  <!-- End .col-sm-6 col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .footer-middle -->

        <div class="footer-bottom">
            <div class="container">
                <p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p><!-- End .footer-copyright -->
                <figure class="footer-payments">
                    <img src="assets/images/payments.png" alt="Payment methods" width="272" height="20">
                </figure><!-- End .footer-payments -->
            </div><!-- End .container -->
        </div><!-- End .footer-bottom -->
    </footer><!-- End .footer -->
</div><!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

<!-- Mobile Menu -->

<%- include('../layouts/mobileheader') %>
<!-- End .mobile-menu-container -->

<!-- Sign in / Register Modal -->
<div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="icon-close"></i></span>
                </button>

                <div class="form-box">
                    <div class="form-tab">
                        <ul class="nav nav-pills nav-fill" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin" role="tab" aria-controls="signin" aria-selected="true">Sign In</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">Register</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="tab-content-5">
                            <div class="tab-pane fade show active" id="signin" role="tabpanel" aria-labelledby="signin-tab">
                                <form action="#">
                                    <div class="form-group">
                                        <label for="singin-email">Username or email address *</label>
                                        <input type="text" class="form-control" id="singin-email" name="singin-email" required>
                                    </div><!-- End .form-group -->

                                    <div class="form-group">
                                        <label for="singin-password">Password *</label>
                                        <input type="password" class="form-control" id="singin-password" name="singin-password" required>
                                    </div><!-- End .form-group -->

                                    <div class="form-footer">
                                        <button type="submit" class="btn btn-outline-primary-2">
                                            <span>LOG IN</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>

                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="signin-remember">
                                            <label class="custom-control-label" for="signin-remember">Remember Me</label>
                                        </div><!-- End .custom-checkbox -->

                                        <a href="#" class="forgot-link">Forgot Your Password?</a>
                                    </div><!-- End .form-footer -->
                                </form>
                                <div class="form-choice">
                                    <p class="text-center">or sign in with</p>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <a href="#" class="btn btn-login btn-g">
                                                <i class="icon-google"></i>
                                                Login With Google
                                            </a>
                                        </div><!-- End .col-6 -->
                                        <div class="col-sm-6">
                                            <a href="#" class="btn btn-login btn-f">
                                                <i class="icon-facebook-f"></i>
                                                Login With Facebook
                                            </a>
                                        </div><!-- End .col-6 -->
                                    </div><!-- End .row -->
                                </div><!-- End .form-choice -->
                            </div><!-- .End .tab-pane -->
                            <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                                <form action="#">
                                    <div class="form-group">
                                        <label for="register-email">Your email address *</label>
                                        <input type="email" class="form-control" id="register-email" name="register-email" required>
                                    </div><!-- End .form-group -->

                                    <div class="form-group">
                                        <label for="register-password">Password *</label>
                                        <input type="password" class="form-control" id="register-password" name="register-password" required>
                                    </div><!-- End .form-group -->

                                    <div class="form-footer">
                                        <button type="submit" class="btn btn-outline-primary-2">
                                            <span>SIGN UP</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>

                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="register-policy" required>
                                            <label class="custom-control-label" for="register-policy">I agree to the <a href="#">privacy policy</a> *</label>
                                        </div><!-- End .custom-checkbox -->
                                    </div><!-- End .form-footer -->
                                </form>
                                <div class="form-choice">
                                    <p class="text-center">or sign in with</p>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <a href="#" class="btn btn-login btn-g">
                                                <i class="icon-google"></i>
                                                Login With Google
                                            </a>
                                        </div><!-- End .col-6 -->
                                        <div class="col-sm-6">
                                            <a href="#" class="btn btn-login  btn-f">
                                                <i class="icon-facebook-f"></i>
                                                Login With Facebook
                                            </a>
                                        </div><!-- End .col-6 -->
                                    </div><!-- End .row -->
                                </div><!-- End .form-choice -->
                            </div><!-- .End .tab-pane -->
                        </div><!-- End .tab-content -->
                    </div><!-- End .form-tab -->
                </div><!-- End .form-box -->
            </div><!-- End .modal-body -->
        </div><!-- End .modal-content -->
    </div><!-- End .modal-dialog -->
</div><!-- End .modal -->

<!-- Plugins JS File -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/jquery.hoverIntent.min.js"></script>
<script src="assets/js/jquery.waypoints.min.js"></script>
<script src="assets/js/superfish.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<!-- Main JS File -->
<script src="assets/js/main.js"></script>

<script>
    function validateForm() {
      var name = document.getElementById('inputText').value;
      var mobile = document.getElementById('inputPhone').value;
      var pincode = document.getElementById('inputPincode').value;
      var district = document.getElementById('inputDistrict').value;
      var address = document.getElementById('inputAddress').value;
      var city = document.getElementById('inputCity').value;
      var state = document.getElementById('inputState').value;
  
      clearErrorMessages();
  
      if (!/^[a-zA-Z0-9]+$/.test(name)) {
        displayErrorMessage('inputText', 'Name is required');
        return false;
      }
  
      // Validate Mobile Number
      if (!/^\d{10}$/.test(mobile)) {
        displayErrorMessage('inputPhone', 'Invalid Mobile Number');
        return false;
      }
  
      // Validate Pincode
      if (!/^\d{6}$/.test(pincode)) {
        displayErrorMessage('inputPincode', 'Invalid Pincode');
        return false;
      }
  
      // Validate District
      if (!/^[a-zA-Z0-9]+$/.test(district)) {
        displayErrorMessage('inputDistrict', 'Invalid District');
        return false;
      }
  
    //   Validate Address
      if (address==='') {
        displayErrorMessage('InputAddress', 'Invalid Address');
        return false;
      }
  
      // Validate City
      if (!/^[a-zA-Z0-9]+$/.test(city)) {
        displayErrorMessage('inputCity', 'Invalid City');
        return false;
      }
  
      // Validate State
      if (!/^[a-zA-Z0-9]+$/.test(state)) {
        displayErrorMessage('inputState', 'Invalid State');
        return false;
      }
  
      return true;
    }
  
    function clearErrorMessages() {
      var errorElements = document.getElementsByClassName('error-message');
      for (var i = 0; i < errorElements.length; i++) {
        errorElements[i].innerText = '';
      }
    }
  
    function displayErrorMessage(fieldId, message) {
      var errorElement = document.getElementById(fieldId + '-error');
      if (errorElement) {
        errorElement.innerText = message;
      }
    }
  </script>

<%- include('../layouts/footer.ejs') %>