<%- include('../layouts/header.ejs') %>

<div class="page-wrapper">
    <header class="header">
        <div class="header-top">
            <div class="container">
                <div class="header-left">
                    <div class="header-dropdown">
                        <a href="#">Usd</a>
                        <div class="header-menu">
                            <ul>
                                <li><a href="#">Eur</a></li>
                                <li><a href="#">Usd</a></li>
                            </ul>
                        </div><!-- End .header-menu -->
                    </div><!-- End .header-dropdown -->

                    <div class="header-dropdown">
                        <a href="#">Eng</a>
                        <div class="header-menu">
                            <ul>
                                <li><a href="#">English</a></li>
                                <li><a href="#">French</a></li>
                                <li><a href="#">Spanish</a></li>
                            </ul>
                        </div><!-- End .header-menu -->
                    </div><!-- End .header-dropdown -->
                </div><!-- End .header-left -->

                <div class="header-right">
                    <ul class="top-menu">
                        <li>
                            <a href="#">Links</a>
                            <ul>
                                <li><a href="tel:#"><i class="icon-phone"></i>Call: +0123 456 789</a></li>
                                <li><a href="wishlist.html"><i class="icon-heart-o"></i>Wishlist <span>(3)</span></a></li>
                             
                                <li><a href="/profile" ><i class="icon-user"></i>profile</a></li>
                            </ul>
                        </li>
                    </ul><!-- End .top-menu -->
                </div><!-- End .header-right -->
            </div><!-- End .container -->
        </div><!-- End .header-top -->

        <div class="header-middle sticky-header">
            <div class="container">
                <div class="header-left">
                    <button class="mobile-menu-toggler">
                        <span class="sr-only">Toggle mobile menu</span>
                        <i class="icon-bars"></i>
                    </button>

                    <a href="index.html" class="logo">
                        <img src="assets/images/logos.png" alt="Molla Logo" width="105" height="25">
                    </a>

                    <nav class="main-nav">
                        <ul class="menu sf-arrows">
                            <li class="megamenu-container active">
                                <a href="/home" class="sf-with">Home</a>

                                <!-- End .megamenu -->
                            </li>
                            <li>
                                <a href="/shop" class="sf-with">Shop</a>

                                <!-- End .megamenu megamenu-md -->
                            </li>
                            <li>
                                <a href="#" class="sf-with">Product</a>

                                <!-- End .megamenu megamenu-sm -->
                            </li>
                            <li>
                                <a href="#" class="sf-with">Pages</a>

                                
                            </li>
                        
                            <li>
                                <a href="#" class="sf-with">Elements</a>

                                
                            </li>
                        </ul><!-- End .menu -->
                    </nav><!-- End .main-nav -->
                </div><!-- End .header-left -->

                <div class="header-right">
                    <div class="header-search">
                        <a href="#" class="search-toggle" role="button" title="Search"><i class="icon-search"></i></a>
                        <form action="#" method="get">
                            <div class="header-search-wrapper">
                                <label for="q" class="sr-only">Search</label>
                                <input type="search" class="form-control" name="q" id="q" placeholder="Search in..." required>
                            </div><!-- End .header-search-wrapper -->
                        </form>
                    </div><!-- End .header-search -->
                    <div class="dropdown cart-dropdown">
                        <a href="/cart" class="dropdown-toggle" role="button"  aria-haspopup="true" aria-expanded="false" data-display="static">
                            <i class="icon-shopping-cart"></i>
                        </a>
                    </div><!-- End .cart-dropdown -->
                </div><!-- End .header-right -->
            </div><!-- End .container -->
        </div><!-- End .header-middle -->
    </header><!-- End .header -->

    <main class="main">
        <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
            <div class="container">
                <h1 class="page-title">Checkout<span>Shop</span></h1>
            </div><!-- End .container -->
        </div><!-- End .page-header -->
        <nav aria-label="breadcrumb" class="breadcrumb-nav">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/home">Home</a></li>
                    <li class="breadcrumb-item"><a href="/shop">Shop</a></li>
                   
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="page-content">
            <div class="checkout">
                <div class="container">
                    <div class="checkout-discount">
                        <!-- <form action="#">
                            <input type="text" class="form-control" required id="checkout-discount-input">
                            <label for="checkout-discount-input" class="text-truncate"> <span></span></label>
                        </form> -->
                    </div><!-- End .checkout-discount -->
                 
                        <div class="row">
                            <div class="col-lg-9">
                                <h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->
                                <div>
                                    <p>
                                        <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                                          Add Address
                                        </a>
                                      </p>
                                      <div class="collapse" id="collapseExample">
                                         
                                          <div class="card card-body">
                                            <form action="/addressadd?checkout==true" method="post" onsubmit="return validateForm()" name="addressForm" >
                                                <div class="form-row">
                                                  <div class="form-group col-md-6">
                                                    <label for="inputPhone">Name</label>
                                                    <input type="text" name="name" class="form-control" id="inputText" placeholder="Name" required>
                                                    <div class="error-message" style="color:red;" id="inputText-error"></div>
                                                  </div>
                                                  <div class="form-group col-md-6">
                                                    <label for="inputPhone">Phone Number</label>
                                                    <input type="text" name="mobile" class="form-control" id="inputPhone" placeholder="10-digit phone number" required>
                                                    <div class="error-message" style="color:red;" id="inputPhone-error"></div>
                                                  </div>
                                                  <div class="form-group col-md-6">
                                                    <label for="inputPincode">Pincode</label>
                                                    <input type="number" name="pincode" class="form-control" id="inputPincode" placeholder="Pincode" required>
                                                    <div class="error-message" style="color:red;" id="inputPincode-error"></div>
                                                  </div>
                                                  <div class="form-group col-md-6">
                                                    <label for="inputDistrict">District</label>
                                                    <input type="text" name="district" class="form-control" id="inputDistrict" placeholder="District" required>
                                                    <div class="error-message" style="color:red;" id="inputDistrict-error"></div>
                                                  </div>
                                                </div>
                                                <div class="form-group">
                                                  <label for="inputAddress">Address</label>
                                                  <textarea name="address" class="form-control" id="inputAddress" placeholder="Address Area/street"></textarea >
                                                    <div class="error-message" style="color:red;" id="InputAddress-error"></div>
                                                </div>
                                                <div class="form-row">
                                                  <div class="form-group col-md-6">
                                                    <label for="inputCity">City</label>
                                                    <input type="text" name="city" class="form-control" id="inputCity" required>
                                                    <div class="error-message" style="color:red;" id="inputCity-error"></div>
                                                  </div>
                                                   <div class="form-group col-md-6">
                                                    <label for="inputState">State</label>
                                                    <input type="text" name="state" class="form-control" id="inputState" placeholder="State" required>
                                                    <div class="error-message" style="color:red;" id="inputState-error"></div>
                                                  </div>
                                                
                                                </div>
                                                <div class="form-group">
                                                    <h6>Address Type</h6>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" name="addresstype" type="radio" id="inlineRadio1" value="true">
                                                        <label class="form-check-label" for="inlineRadio1">Home</label>
                                                        
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input class="form-check-input" name="addresstype" type="radio" id="inlineRadio2" value="false">
                                                        <label class="form-check-label" for="inlineRadio2">Work</label>
                                                    </div>
                                                </div>                    
                                                <!-- <input type="submit" class="btn btn-danger" value="cancel"> -->
                                                <button type="submit" class="btn btn-primary">Save</button>
                                            </form>
                                            </div>
                                    
                                      </div><br>
                                  <% if (address && Array.isArray(address) && address.length > 0) { %>
                                    <div class="form-group">
                                        <!-- <label for="addressDropdown" ">Select Address:</label> -->
                                        <h5>Select Address</h5>
                                        <select class="form-control" id="selecetedAddress" name="selectedAddress">
                                            <% for (let i = 0; i < address.length; i++) { %>
                                                <option value="<%= address[i]._id %>">
                                                    <%= address[i].name %>, <%= address[i].city %>, <%= address[i].state %>,<%= address[i].pincode %>,<%= address[i].mobile %>,<%= address[i].address %>
                                                </option>
                                            <% } %>
                                        </select>
                                    </div>
                                <% } else { %>
                                    <p>No addresses available.</p>
                                <% } %>
                                 <!-- End .custom-checkbox -->         
                            </div><!-- End .col-lg-9 -->
                            <aside class="col-lg-3">
                                <div class="summary">
                                    <h3 class="summary-title">Your Order</h3>
                                    <% if (cart.length !== 0) { %>
                                        <table class="table table-summary">
                                            <thead>
                                                <tr>
                                                    <th>Product</th>
                                                    <th>Total</th>
                                                </tr>
                                            </thead>
                                            <% for (let i = 0; i < cart.length; i++) { %>
                                            <tbody>                                           
                                                    <tr>
                                                        <td><a href="#"><%= cart[i].product.name %></a></td>
                                                        <td>₹<%= productTotal[i] %></td>
                                                    </tr>
                                                <% } %>
                                                <tr class="summary-subtotal">
                                                    <td>Subtotal:</td>
                                                    <td>₹<%= subtotalWithShipping %></td>
                                                </tr><!-- End .summary-subtotal -->
                                                <tr>
                                                    <td>Shipping:</td>
                                                    <td>Free shipping</td>
                                                </tr>
                                                <tr class="summary-total">
                                                    <td>Total:</td>
                                                    <td id="order-total">₹<%= subtotalWithShipping %>
                                                    </td>
                                                
                                            </tbody>
                                        </table><!-- End .table table-summary -->
                                    <% } %>
                                 
                                    
                                    <div class="accordion-summary" id="accordion-payment">
                                        
                                        <div class="card">
                                            <!-- End .card-header -->
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio"  name="payment" value="Wallet" id="WalletPayment" >
                                                <label class="form-check-label" for="flexRadioDefault2">
                                                    Pay Using Wallet
                                                </label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio"   name="payment" value="Online Payment" id="OnlinePayment" >
                                                    <label class="form-check-label" for="flexRadioDefault2">
                                                      Online Payment
                                                    </label>
                                                  </div>
                                                  <div class="form-check" style="border: 1, solid, grey;">
                                                    <input class="form-check-input" type="radio"  value="Cash on delivery" name="payment" id="CashOnDelivery" checked>
                                                    <label class="form-check-label" for="flexRadioDefault1">
                                                      Cash On Delivery
                                                    </label>
                                                  </div>
                                        </div><!-- End .card -->
                                        <div class="caption" id="couponApply">
                                            <label for=""></label>
                                            <input type="text" id="couponCodeInput" placeholder="Enter Coupon code">
                                            <div id="couponSuccessMessage" class="text-success"></div>
                                        </div><br>
                                        <div id="couponSuccessMessage" class="text-success"></div>
                                        <input type="button" class="btn btn-outline-primary form-control" value="Apply Coupon" name="" id="applyCouponButton">

                                        <div class="coupon applied" id="couponApplied" style="display: none;">
                                            <div>
                                                <input class="form-control" type="text" name="couponCode"
                                                    placeholder="Enter your coupon code" id="couponCodeInput"
                                                    style="visibility: hidden;">
                                                <button class="btn btn-primary  btn-block" disabled> Coupon Applied
                                                    successfully</button>
                                            </div>
                                            <a href="/checkout">Remove applied Coupied</a>
                                            <div style="height: 20px;">
                                                <p class="text-center" id="couponInfo" style="color: #d2bb0c;"></p>
                                            </div>
                                        </div>
                                         <!-- End .card-header -->
                                            <!-- End .collapse -->
                                        <!-- End .card -->
                                        <!-- Button trigger modal -->
                                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModalLong">
                                    Available Coupons
                                    </button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>

                                         <% if (coupon.length > 0) { for (let i = 0; i < coupon.length; i++) { %>
                                    <div class="col-lg-4">
                                        
                                        <div class="d-flex  couponContainer container" >
                                            <div class="d-flex couponCard card text-center" style="background-color: beige; width: 300px;"> 
                                                <h1><% if(coupon[i].type =='percentage') { %> <%= coupon[i].discount %>% <% }else{ %>$ <%= coupon[i].discount %><%}%></h1><span class="d-block">Discount</span>
                                                <span class="d-block text-muted" style="font-size: medium;">Expires at:- <br> <%= new Date(coupon[i].expiry).toLocaleDateString() %></span>
                                                <% if (coupon[i].usersUsed.includes(user._id)) { %>
                                                    <p>Coupon Redeemed</p>
                                                    <% } else { %>
                                                        <div class="mt-4"><small>With Code : <%= coupon[i].code %></small></div>
                                                <button class="copy-coupon-btn btn btn-outline-2 " data-coupon="<%= coupon[i].code %>">

                                                    <span class="" style="font-size: medium;"><i class="fas fa-copy" ></i> Copy</span>
                                                </button>
                                                <% } %>
                                            </div>
                                        </div>
                                        <!-- End .card-dashboard -->
                                    </div><br><br>
                                    <!-- End .col-lg-6 -->
                            
                                    <% } } else { %>
                                    <div class="col-6 col-md-4 col-xl-3">
                                        <p>No Coupon Found found</p>
                                    </div>
                                    <% } %> 

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            
                                        </div>
                                        </div>
                                    </div>
                                    </div>
                                        <div class="card">
                                            
                                            <div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#accordion-payment">
                                                <div class="card-body"> 
                                                    
                                                </div><!-- End .card-body -->
                                            </div><!-- End .collapse -->
                                        </div><!-- End .card -->

                                        <div class="card">
                                            <div class="card-header" id="heading-4">
                                                <h2 class="card-title">
                                                    <!-- <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
                                                        PayPal <small class="float-right paypal-link">What is PayPal?</small>
                                                    </a> -->
                                                </h2>
                                            </div><!-- End .card-header -->
                                            <div id="collapse-4" class="collapse" aria-labelledby="heading-4" data-parent="#accordion-payment">
                                                <div class="card-body">
                                                   
                                                </div><!-- End .card-body -->
                                            </div><!-- End .collapse -->
                                        </div><!-- End .card -->

                                        <div class="card">
                                            <div class="card-header" id="heading-5">
                                                <h2 class="card-title">
                                                    <!-- <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-5" aria-expanded="false" aria-controls="collapse-5">
                                                        Credit Card (Stripe)
                                                        <img src="assets/images/payments-summary.png" alt="payments cards">
                                                    </a> -->
                                                </h2>
                                            </div><!-- End .card-header -->
                                            <!-- <div id="collapse-5" class="collapse" aria-labelledby="heading-5" data-parent="#accordion-payment">
                                                <div class="card-body"> 
                                                </div> -->
                                            </div><!-- End .collapse -->
                                        </div><!-- End .card -->
                                    </div><!-- End .accordion -->

                                    <div id="invalid text-center">
                                        <% if (outOfStockError !== 'undefined' && outOfStockError) { %>
                                            <p style="color: red;" id="message text-center">Product is Out of Stock</p>
                                        <% } %>                                                          
                                                        </div><!-- End .accordion -->
                                                            <input type="button" id="placeOrderButton" class="btn btn-primary btn-order btn-block" style="padding: 8px; border-radius: 2px;" value="Pay Using COD">
                                                            <button id="walletButton"
                                                            class="btn btn-primary btn-order btn-block"  style="padding: 8px; border-radius: 2px;">Pay Using Wallet</button>
                                                            <button id="razorPayButton"
                                                            class="btn btn-primary btn-order btn-block"  style="padding: 8px; border-radius: 2px;">Online Payment</button>
                                </div><!-- End .summary -->
                        
                            </aside><!-- End .col-lg-3 -->
                        </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .checkout -->
        </div><!-- End .page-content -->
    </main><!-- End .main -->

    <footer class="footer">
        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="widget widget-about">
                            <img src="assets/images/logos.png" class="footer-logo" alt="Footer Logo" width="105" height="25">
                            <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. </p>

                            <div class="social-icons">
                                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
                                <a href="#" class="social-icon" target="_blank" title="Pinterest"><i class="icon-pinterest"></i></a>
                            </div><!-- End .soial-icons -->
                        </div><!-- End .widget about-widget -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                   <!-- End .col-sm-6 col-lg-3 -->
<!-- End .col-sm-6 col-lg-3 -->

                   <!-- End .col-sm-6 col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .footer-middle -->

        <div class="footer-bottom">
            <div class="container">
                <p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p><!-- End .footer-copyright -->
                <figure class="footer-payments">
                    <img src="assets/images/payments.png" alt="Payment methods" width="272" height="20">
                </figure><!-- End .footer-payments -->
            </div><!-- End .container -->
        </div><!-- End .footer-bottom -->
    </footer><!-- End .footer -->
</div><!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

<!-- Mobile Menu -->
<%-include('../layouts/mobileheader') %>
<!-- End .mobile-menu-container -->

<!-- Sign in / Register Modal -->
<div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="icon-close"></i></span>
                </button>

                <div class="form-box">
                    <div class="form-tab">
                        <ul class="nav nav-pills nav-fill" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin" role="tab" aria-controls="signin" aria-selected="true">Sign In</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">Register</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="tab-content-5">
                            <div class="tab-pane fade show active" id="signin" role="tabpanel" aria-labelledby="signin-tab">
                                <form action="#">
                                    <div class="form-group">
                                        <label for="singin-email">Username or email address *</label>
                                        <input type="text" class="form-control" id="singin-email" name="singin-email" required>
                                    </div><!-- End .form-group -->

                                    <div class="form-group">
                                        <label for="singin-password">Password *</label>
                                        <input type="password" class="form-control" id="singin-password" name="singin-password" required>
                                    </div><!-- End .form-group -->

                                    <div class="form-footer">
                                        <button type="submit" class="btn btn-outline-primary-2">
                                            <span>LOG IN</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>

                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="signin-remember">
                                            <label class="custom-control-label" for="signin-remember">Remember Me</label>
                                        </div><!-- End .custom-checkbox -->

                                        <a href="#" class="forgot-link">Forgot Your Password?</a>
                                    </div><!-- End .form-footer -->
                                </form>
                                <div class="form-choice">
                                    <p class="text-center">or sign in with</p>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <a href="#" class="btn btn-login btn-g">
                                                <i class="icon-google"></i>
                                                Login With Google
                                            </a>
                                        </div><!-- End .col-6 -->
                                        <div class="col-sm-6">
                                            <a href="#" class="btn btn-login btn-f">
                                                <i class="icon-facebook-f"></i>
                                                Login With Facebook
                                            </a>
                                        </div><!-- End .col-6 -->
                                    </div><!-- End .row -->
                                </div><!-- End .form-choice -->
                            </div><!-- .End .tab-pane -->
                            <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                                <form action="#">
                                    <div class="form-group">
                                        <label for="register-email">Your email address *</label>
                                        <input type="email" class="form-control" id="register-email" name="register-email" required>
                                    </div><!-- End .form-group -->

                                    <div class="form-group">
                                        <label for="register-password">Password *</label>
                                        <input type="password" class="form-control" id="register-password" name="register-password" required>
                                    </div><!-- End .form-group -->

                                    <div class="form-footer">
                                        <button type="submit" class="btn btn-outline-primary-2">
                                            <span>SIGN UP</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>

                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="register-policy" required>
                                            <label class="custom-control-label" for="register-policy">I agree to the <a href="#">privacy policy</a> *</label>
                                        </div><!-- End .custom-checkbox -->
                                    </div><!-- End .form-footer -->
                                </form>
                                <div class="form-choice">
                                    <p class="text-center">or sign in with</p>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <a href="#" class="btn btn-login btn-g">
                                                <i class="icon-google"></i>
                                                Login With Google
                                            </a>
                                        </div><!-- End .col-6 -->
                                        <div class="col-sm-6">
                                            <a href="#" class="btn btn-login  btn-f">
                                                <i class="icon-facebook-f"></i>
                                                Login With Facebook
                                            </a>
                                        </div><!-- End .col-6 -->
                                    </div><!-- End .row -->
                                </div><!-- End .form-choice -->
                            </div><!-- .End .tab-pane -->
                        </div><!-- End .tab-content -->
                    </div><!-- End .form-tab -->
                </div><!-- End .form-box -->
            </div><!-- End .modal-body -->
        </div><!-- End .modal-content -->
    </div><!-- End .modal-dialog -->
</div><!-- End .modal -->

<!-- Plugins JS File -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/jquery.hoverIntent.min.js"></script>
<script src="assets/js/jquery.waypoints.min.js"></script>
<script src="assets/js/superfish.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<!-- Main JS File -->
<script src="assets/js/main.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>


    const codRadio = document.getElementById('CashOnDelivery');
    const onlinePaymentRadio = document.getElementById('OnlinePayment');
    const walletPaymentRadio = document.getElementById('WalletPayment');

    const placeOrderButton = document.getElementById('placeOrderButton');
    const razorPayButton = document.getElementById('razorPayButton');
    const walletButton = document.getElementById('walletButton');


    function updateButtonsVisibility() {
        placeOrderButton.style.display = codRadio.checked ? 'block' : 'none';
        razorPayButton.style.display = onlinePaymentRadio.checked ? 'block' : 'none';

        if (walletPaymentRadio) {
            walletButton.style.display = walletPaymentRadio.checked ? 'block' : 'none';
        }
    }

    codRadio.addEventListener('change', updateButtonsVisibility);
    onlinePaymentRadio.addEventListener('change', updateButtonsVisibility);

    if (walletPaymentRadio) {
        walletPaymentRadio.addEventListener('change', updateButtonsVisibility);
    }

    updateButtonsVisibility();

    document.addEventListener('DOMContentLoaded', function () {
        const placeOrderButton = document.getElementById('placeOrderButton');
        const applyCouponButton = document.getElementById('applyCouponButton');
        const couponCodeInput = document.getElementById('couponCodeInput');
        const orderTotalElement = document.getElementById('order-total');
        const couponInfo = document.getElementById('couponInfo');
        const codButton = document.getElementById('cod');
        const captionDiv = document.getElementById('couponApply');
        const couponAppliedDiv = document.getElementById('couponApplied');
        
    walletButton.addEventListener('click', function () {
        const couponCode = couponCodeInput.value;

            if (couponCode.trim() !== '' && !couponApplied) {

                Swal.fire({
                                title: "Apply Coupon!",
                                 text: "Please apply the coupon before checkout",
                                    icon: "warning",
                                    background: '#ffffff', 
                                    customClass: {
                                    popup: 'white-background', 
                                    },
                                    showOkButton: true,
                                
                                    
                                    
                                    })
                couponCodeInput.value = '';
                return;
            }
        placeOrderWallet('wallet', couponCode);
    });

        razorPayButton.addEventListener('click', function () {
            const couponCode = couponCodeInput.value;

            if (couponCode.trim() !== '' && !couponApplied) {

                Swal.fire({
                                title: "Apply Coupon!",
                                 text: "Please apply the coupon before checkout",
                                    icon: "warning",
                                    background: '#ffffff', 
                                    customClass: {
                                    popup: 'white-background', 
                                    },
                                    showOkButton: true,
                                
                                    
                                    
                                    })
                couponCodeInput.value = '';
                return;
            }
            placeOnline('Pay online', couponCode);
        });


        applyCouponButton.addEventListener('click', async function (event) {
            event.preventDefault();
            const couponCode = couponCodeInput.value;

            if (couponCode.trim() === '') {
                Swal.fire({
                                title: "Enter Coupon!",
                                 text: "Please Enter a coupon before applying",
                                    icon: "warning",
                                    background: '#ffffff', 
                                    customClass: {
                                    popup: 'white-background', 
                                    },
                                    showOkButton: true,
                                
                                    
                                    
                                    })
                return;
            }

            try {
                const response = await fetch('/applyCoupon', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ couponCode }),
                });

                if (!response.ok) {
                    throw new Error('Coupon application failed');
                }

                const data = await response.json();

                if (data.errorMessage) {
                    
                    alert('Coupon error: ' + data.errorMessage);
                    couponCodeInput.value = ''
                } else {

                    const discountedTotal = data.discountedTotal;
                    const normalPrice = parseFloat(orderTotalElement.innerHTML.replace("₹", ""));
                    const difference = (normalPrice - discountedTotal).toFixed(0);

                    
                    couponInfo.innerText = `Coupon Discount Applied ₹${difference} off`;
                    orderTotalElement.innerText = `₹${discountedTotal}`;
                   
            
                    Swal.fire({
                                title: "Coupon Applied",
                                 text: "Coupon applied successfully",
                                    icon: "success",
                                    background: '#ffffff', 
                                    customClass: {
                                    popup: 'white-background', 
                                    }, 
                                    })

                    captionDiv.style.display = 'none';
                    couponAppliedDiv.style.display = 'block';
                }

            } catch (error) {
                console.error('Error applying coupon:', error);
                Swal.fire({
                                title: "Invalid Coupon!",
                                 text: "Please enter a valid coupon",
                                    icon: "warning",
                                    background: '#ffffff', 
                                    customClass: {
                                    popup: 'white-background', 
                                    },
                                    showOkButton: true,
                                
                                    
                                    
                                    })
              
                couponCodeInput.value = ''
            }
        });


        placeOrderButton.addEventListener('click', function () {
            const couponCode = couponCodeInput.value;

            if (couponCode.trim() !== '' && !couponApplied) {

                Swal.fire({
                                title: "Apply Coupon!",
                                 text: "Please apply the coupon before checkout",
                                    icon: "warning",
                                    background: '#ffffff', 
                                    customClass: {
                                    popup: 'white-background', 
                                    },
                                    showOkButton: true,
                                
                                    
                                    
                                    })
                couponCodeInput.value = '';
                return;
            }
            placeOrder('Cash on delivery', couponCode);
        });


        function placeOrder(paymentMethod, couponCode) {
            const selectedAddress = document.getElementById('selecetedAddress').value

            if (!selectedAddress) {
                
                Swal.fire({
                                title: "Select Address!",
                                 text: "Please select an address before checkout",
                                    icon: "warning",
                                    background: '#ffffff', 
                                    customClass: {
                                    popup: 'white-background', 
                                    },
                                    showOkButton: true,
                                
                                    
                                    
                                    })
                return;
            }

            const address = selectedAddress;

            const requestData = {
                address: address,
                paymentMethod: paymentMethod,
                couponCode: couponCode
            };

            fetch('/orderplaced', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(requestData),
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        Swal.fire({
                                title: "Order Placed",
                                 text: "Your order has been placed succesfully",
                                    icon: "success",
                                    background: '#ffffff', 
                                    customClass: {
                                    popup: 'white-background', 
                                    },
                                    
                                
                                    
                                        confirmButtonText: "Order Details",
                                    
                                    }).then((result) => {
                                        if (result.isConfirmed) {
                                        
                                            window.location.href = '/ordersucess';
                                        
                                        }
                                    });
                    } else {
                        alert('Error occurred while placing order: ' + data.message);
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    alert('Error occurred while placing order: ' + error.message);
                });
        }





        //razorpay button


        function placeOnline(paymentMethod, couponCode) {



            const selectedAddress = document.getElementById('selecetedAddress').value

            if (!selectedAddress) {

                Swal.fire({
                                title: "Select Address!",
                                 text: "Please select an address before checkout",
                                    icon: "warning",
                                    background: '#ffffff', 
                                    customClass: {
                                    popup: 'white-background', 
                                    },
                                    showOkButton: true,
                                
                                    
                                    
                                    })
           
                return;
            }

            const address = selectedAddress;

            const requestData = {
                address: address,
                paymentMethod: paymentMethod,
                couponCode: couponCode
            };

            fetch('/razorpayOrder', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(requestData),
            })
                .then((response) => {
                    if (response.ok) {
                        return response.json();
                    } else {
                        throw new Error('Network response was not ok');
                    }
                })
                .then((data) => {
                    if (data && data.order) {
                        const order = data.order;
                        const orderId = order.id;
                        const amount = order.amount;

                        var options = {
                            key: "rzp_test_5oY7OQD9ot1Vxy",
                            amount: amount * 100,
                            currency: "INR",
                            name: "AUDIONIX",
                            description: "Test Transaction",
                            image: "",
                            order_id: orderId,
                            handler: function (response) {

                                if (response.razorpay_payment_id) {
                                 window.location.href = '/ordersucess';
                                    const updatePaymentStatusEndpoint = '/updatePaymentStatus';
                                    const updatePaymentStatusData = {
                                        orderId: orderId,
                                        paymentId: response.razorpay_payment_id,
                                        status: 'Payment Successful',
                                    };
                                    fetch(updatePaymentStatusEndpoint, {
                                        method: 'POST',
                                        headers: {
                                            'Content-Type': 'application/json',
                                        },
                                        body: JSON.stringify(updatePaymentStatusData),
                                    })
                                        .then((updateResponse) => {
                                            if (updateResponse.ok) {
                                                Swal.fire({
                                title: "Order Placed",
                                 text: "Your order has been placed succesfully",
                                    icon: "success",
                                    background: '#ffffff', 
                                    customClass: {
                                    popup: 'white-background', 
                                    },
                                    
                                
                                    
                                        confirmButtonText: "Order Details",
                                    
                                    }).then((result) => {
                                        if (result.isConfirmed) {                                        
                                            window.location.href = '/ordersucess';                                       
                                        }
                                    });                                             
                                            } else {
                                                console.error('Failed to update payment status.');
                                            }
                                        })
                                        .catch((error) => {
                                            console.error('Error updating payment status:', error);
                                        });
                                } else {
                                    alert(response.error.code);
                                    alert(response.error.description);
                                    alert(response.error.source);
                                    alert(response.error.step);
                                    alert(response.error.reason);
                                    alert(response.error.metadata.order_id);
                                    alert(response.error.metadata.payment_id);
                                }
                            },
                            prefill: {
                                name: "AUDIONIX",
                                email: "Applestore@gmail.com",
                                contact: "9656816629"
                            },
                            notes: {
                                address: "Razorpay Corporate Office"
                            },
                            theme: {
                                color: "#3399cc"
                            }
                        };

                        var rzp1  = new Razorpay(options);


                        rzp1.open();
                        e.preventDefault();

                    }
                })

                .catch((error) => {
                    console.log('Fetch error:', error.message);
                });
        }

    });




    function placeOrderWallet(paymentMethod, couponCode) {
        const selectedAddress = document.getElementById('selecetedAddress').value

        if (!selectedAddress) {
            
            Swal.fire({
                                title: "Select Address!",
                                 text: "Please select an address before checkout",
                                    icon: "warning",
                                    background: '#ffffff', 
                                    customClass: {
                                    popup: 'white-background', 
                                    },
                                    showOkButton: true,
                                
                                    
                                    
                                    })
            return;
        }

        const address = selectedAddress;

        const requestData = {
            address: address,
            paymentMethod: paymentMethod,
            couponCode: couponCode
        };

        fetch('/orderplaced', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(requestData),
        })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    Swal.fire({
                                title: "Order Placed",
                                 text: "Your order has been placed succesfully",
                                    icon: "success",
                                    background: '#ffffff', 
                                    customClass: {
                                    popup: 'white-background', 
                                    },
                                    
                                
                                    
                                        confirmButtonText: "Order Details",
                                    
                                    }).then((result) => {
                                        if (result.isConfirmed) {
                                        
                                            window.location.href = '/ordersucess';
                                        
                                        }
                                    });
                   
                } else {
                    alert('Error occurred while placing order: ' + data.message);
                }
            })
            .catch(error => {
                console.error('Error:', error);
                alert('Error occurred while placing order: ' + error.message);
            });
    }






</script>

<%- include('../layouts/footer.ejs') %>