<%- include('../layouts/header.ejs')%>

<div class="page-wrapper">
    <header class="header">
        <div class="header-top">
            <div class="container">
                <div class="header-left">
                    <!-- End .header-dropdown -->

                   <!-- End .header-dropdown -->
                </div><!-- End .header-left --><!-- End .header-right -->
            </div><!-- End .container -->
        </div><!-- End .header-top -->

        <div class="header-middle sticky-header">
            <div class="container">
                <div class="header-left">
                    <button class="mobile-menu-toggler">
                        <span class="sr-only">Toggle mobile menu</span>
                        <i class="icon-bars"></i>
                    </button>

                    <a href="index.html" class="logo">
                        <img src="assets/images/logos.png" alt="Molla Logo" width="105" height="25">
                    </a>

                    <nav class="main-nav">
                        <ul class="menu sf-arrows">
                            <li class="megamenu-container active">
                                <a href="/home" class="sf-with">Home</a>

                                <!-- End .megamenu -->
                            </li>
                            <li>
                                <a href="/shop" class="sf-with">Shop</a>

                                <!-- End .megamenu megamenu-md -->
                            </li>
                            <li>
                                <a href="#" class="sf-with">Product</a>

                                <!-- End .megamenu megamenu-sm -->
                            </li>
                            <li>
                                <a href="#" class="sf-with">Pages</a>

                                <ul>
                                    <li>
                                        <a href="about.html" class="sf-with">About</a>
                                    </li>
                                    <li>
                                        <a href="contact.html" class="sf-with">Contact</a>      
                            </li>
                            <li>
                                <a href="elements-list.html" class="sf-with">Elements</a>

                             
                            </li>
                        </ul><!-- End .menu -->
                    </nav><!-- End .main-nav -->
                </div><!-- End .header-left -->

                <div class="header-right">
                  
                </div><!-- End .header-right -->
            </div><!-- End .container -->
        </div><!-- End .header-middle -->
    </header><!-- End .header -->
    <main class="main">
    <!-- End .breadcrumb-nav -->
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Navigation</h5>
                        <ul class="list-group">
                            <li class="list-group-item"><a href="/profile" class="text-decoration-none">Profile</a></li>
                            <li class="list-group-item"><a href="/changepassword" class="text-decoration-none">Change Password</a></li>
                            <li class="list-group-item"><a href="/wallet" class="text-decoration-none">Wallets</a></li>
                            <li class="list-group-item"><a href="/coupon" class="text-decoration-none">Coupon</a></li>
                            <li class="list-group-item"><a href="/orderDetails" class="text-decoration-none">Order History</a></li>
                            <li class="list-group-item"><a href="/address" class="text-decoration-none">Address</a></li>
                            <li class="list-group-item"><a href="/logout" class="text-danger text-decoration-none">[-> Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Payment Details</h5>
                            <div>
                                <span style="color:  #000000;;" class="fw-bold me-4">Payment:-</span><%= order.paymentMethod %><br />
                            </div>
                            <div>
                                <span style="color:  #000000;;" class="fw-bold me-4">Shipping:-</span><%= order.shipping %><br />
                            </div>
                            <div>
                                <span style="color:  #000000;;" class="fw-bold me-4">Order Status:-</span> <% if (order.status === 'Pending') { %>
                                    <span class="badge badge-pill badge-warning"><%= order.status %></span>
                                <% } else if (order.status === 'Order Confirmed') { %>
                                    <span class="badge badge-pill badge-warning"><%= order.status %></span>
                                <% } else if (order.status === 'Shipped') { %>
                                    <span class="badge badge-pill badge-dark"><%= order.status %></span>
                                <% } else if (order.status === 'Out For Delivery') { %>
                                <span class="badge badge-pill badge-dark"><%= order.status %></span>
                                <% } else if (order.status === 'Delivered') { %>
                                 <span class="badge badge-pill badge-success"><%= order.status %></span>
                                 <% } else if (order.status == 'Return Requested') { %>
                                    <span class="badge badge-pill badge-info"><%= order.status %> </span>
                                    <% } else if (order.status == 'Return Successfull') { %>

                                        <span class="badge badge-pill badge-success"><%= order.status %> </span>
                                <% } else { %>
                                <span class="badge badge-pill badge-danger"><%= order.status %></span>
                                <% } %> <br />
                            </div>
                            <div>
                                <span style="color:  #000000;;" class="fw-bold me-4">Amount To pay:-</span><%= order.totalAmount %><br />
                            </div>
                            <div>
                                <span style="color:  #259552;;" class="fw-bold me-4">Delivery On:-</span>

                                <%if(order.status !== 'Cancelled'){ %>
                                  <%= new Date(order.deliveryDate).toLocaleDateString() %>
                                  <% } else{ %>
                                    ------- 
                                    <% } %>                                    
                                </div>
                        </div>
                    </div>
            </div>
            <div class="col md-4">
                <div class="card">
                    <h5>Order will be delivered to </h5>
                    <div class="card-body d-flex align-items-center justify-content-center">
                       
                            <%= order.address.name %><br />
                            <%= order.address.address %> <br />
                            <%= order.address.district %><br />
                            <%= order.address.city %><br />
                            <%= order.address.state %>,&nbsp; <%= order.address.pincode %><br />
                            <%= order.address.mobile %><br />
                    </div>
                </div>
               
            </div> 
            
        </div>
        
    </div>
    <div class="" style="border-radius: 10px;">
                          
                            <div class="card-body p-4">
                             
                                <% order.items.forEach(function(item) { %>
                
                              <div class="card shadow-0 border mb-4" style="width: 100%; height: 200px;">
                                <div class="card-body">
                                  <div class="row">
                                    <div class="col-md-2">
                                      <img src="/adminassets/productimages/<%= item.product.image[0] %>"
                                        class="img-fluid" alt="Phone">
                                    </div>
                                    <div class="col-md-3 text-center d-flex justify-content-center align-items-center">
                                      <p class="text-muted mb-0"><%= item.product.name.slice(0, 50) + '...'  %></p>
                                    </div>
                                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                      <p class="text-muted mb-0 small"><%= item.product.brand%></p>
                                    </div>
                                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                      <p class="text-muted mb-0 small"><%= item.product.price%></p>
                                    </div>
                                    <div class="col-md-1 text-center d-flex justify-content-center align-items-center">
                                      <p class="text-muted mb-0 small"><%= item.quantity %></p>
                                    </div>
                                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                      <p class="text-muted mb-0 small"><%= item.product.price * item.quantity %></p>
                                    </div>
                                  </div>
                           
                                </div>
                              </div>
                              <% }); %>
                
                          
                  
                                <!--<div class="d-flex justify-content-between pt-2">
                                <p class="text-muted mb-0 "><span class="fw-bold me-4">Invoice Number :</span> <%= order._id %></p>
                              </div> -->
                  
                              
                            <div class="card-footer border-0 px-4 py-5"
                              style="background-color: #efefef; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                              <div class="d-flex flex-column justify-content-end">
                                <h5 class="d-flex align-items-center justify-content-end text-muted  text-uppercase mb-0 fw-bold me-4">Total
                                    Amount: <span class="h2 mb-0 ms-2"><%= order.totalAmount %></span>
                                </h5>
                                <div class="d-flex mt-4 justify-content-end">
                                    <% if (order.status == 'Cancelled') { %>
                                        <span class="badge badge-pill badge-danger">Order Cancelled</span>
                                    <% } else if (order.status == 'Return Requested') { %>
                                        <span class="badge badge-pill badge-info"><%= order.status %> </span>
                                        <% } else if (order.status == 'Return Successfull') { %>
                                        <span class="badge badge-pill badge-success"><%= order.status %> </span>
                                    <% } else { %>
                                        <% if (order.status !== 'Delivered') { %>
                                            <a href="#" class="btn mt-5 btn-danger btn-rounded btn-lg" data-toggle="modal" data-target="#cancelOrderModal">Cancel Order</a>
                                            <form action="/cancelOrder" method="get">
                                                <input type="hidden" value="<%= order._id %>" name="orderId">
                                                <div class="modal fade" id="cancelOrderModal" tabindex="-1" role="dialog" aria-labelledby="cancelOrderModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                        <div class="modal-content" style="border-radius: 10px;">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="cancelOrderModalLabel">Confirm Order Cancellation</h5>
                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <p>Are you sure you want to cancel this order?</p>
                                                                <textarea class="form-control" id="cancellationReason" name="reason" rows="3" placeholder="Enter reason for cancellation"></textarea>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <input type="hidden" name="status" value="Cancel Requested">

                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                                <input type="submit" value="Confirm Cancellation" class="btn btn-danger btn-rounded btn-lg">
                                                                <!-- <a href="/cancelOrder?orderId=<%= order._id %>&reason=" + encodeURIComponent(document.getElementById('cancellationReason').value)" class="btn btn-danger btn-rounded btn-lg">Confirm Cancellation</a> -->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>                                        
                                        
                                               <% } else { %>
                                                <%
                                                // Assuming order.deliveryDate is a Date object
                                                const deliveryDate = order.deliveryDate;
                                                const returnDeadline = new Date(deliveryDate);
                                                returnDeadline.setDate(deliveryDate.getDate() + 7); 
                                                const currentDate = new Date();
                                                const remainingDays = Math.ceil((returnDeadline - currentDate) / (1000 * 60 * 60 * 24)); // Calculate remaining days
                                                %>
                                                    <form action="/returnOrder" method="get" id="returnForm">
                                                        <a href="#" class="p-3 btn btn-info" data-toggle="modal" data-target="#returnOrderModal">
                                                            Return Order (You can return within <%= remainingDays %> days)
                                                        </a>
                                                        <div class="modal fade" id="returnOrderModal" tabindex="-1" role="dialog" aria-labelledby="returnOrderModalLabel" aria-hidden="true">
        
                                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                                <div class="modal-content" style="border-radius: 10px;">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="returnOrderModalLabel">Return Order</h5>
                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <p>Are you sure you want to return this order?</p>
                                                                            <div class="form-group">
                                                                                
                                                                                
                                                                             <!-- Display error message here -->
                                                                             </div>
                                                                            <input type="hidden" name="orderId" value="<%= order._id %>">
                                                                            <input type="hidden" name="status" value="Return Requested">
                                                                            <button type="submit" class="btn btn-success btn-rounded btn-lg">Confirm Return</button>
                                                                        </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form> 
                                                
                                                    <% } %>
                                                    <span class="badge badge-success" style="height: 40px; margin-left: 10px; margin-top: 50px;"><%= order.paymentStatus %> </span>
                                                <% } %>            
                                                <a href="/generate-invoice/<%= order._id %>" class="btn btn-outline-primary-2 p-2" style="height: 40px; margin-left: 10px; margin-top: 50px;">Generate Invoice</a>
                                </div> 
                                
                              </div>
                              
                            </div>
                          </div>
                   
                    </div>
                   
                
        <!-- <div class="error-content text-center" style="background-image: url(assets/images/backgrounds/headphonebig.jpg)"> -->
    </main><!-- End .main -->
    <footer class="footer">
        <div class="footer-middle border-0">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="widget widget-about">
                            <img src="assets/images/logos.png" class="footer-logo" alt="Footer Logo" width="105" height="25">
                            <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. </p>

                            <div class="social-icons">
                                <a href="#" class="social-icon" target="_blank" title="Facebook"><i class="icon-facebook-f"></i></a>
                                <a href="#" class="social-icon" target="_blank" title="Twitter"><i class="icon-twitter"></i></a>
                                <a href="#" class="social-icon" target="_blank" title="Instagram"><i class="icon-instagram"></i></a>
                                <a href="#" class="social-icon" target="_blank" title="Youtube"><i class="icon-youtube"></i></a>
                                <a href="#" class="social-icon" target="_blank" title="Pinterest"><i class="icon-pinterest"></i></a>
                            </div><!-- End .soial-icons -->
                        </div><!-- End .widget about-widget -->
                    </div><!-- End .col-sm-6 col-lg-3 -->
<!-- End .col-sm-6 col-lg-3 -->

                   
                  <!-- End .col-sm-6 col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .footer-middle -->

        <div class="footer-bottom">
            <div class="container">
                <p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p><!-- End .footer-copyright -->
                <figure class="footer-payments">
                    <img src="assets/images/payments.png" alt="Payment methods" width="272" height="20">
                </figure><!-- End .footer-payments -->
            </div><!-- End .container -->
        </div><!-- End .footer-bottom -->
    </footer><!-- End .footer -->
</div><!-- End .page-wrapper -->
<button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

<!-- Mobile Menu -->
<%- include('../layouts/mobileheader') %>
<!-- End .mobile-menu-container -->

<!-- Sign in / Register Modal -->
<div class="modal fade" id="signin-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="icon-close"></i></span>
                </button>

                <div class="form-box">
                    <div class="form-tab">
                        <ul class="nav nav-pills nav-fill" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="signin-tab" data-toggle="tab" href="#signin" role="tab" aria-controls="signin" aria-selected="true">Sign In</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">Register</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="tab-content-5">
                            <div class="tab-pane fade show active" id="signin" role="tabpanel" aria-labelledby="signin-tab">
                                <form action="#">
                                    <div class="form-group">
                                        <label for="singin-email">Username or email address *</label>
                                        <input type="text" class="form-control" id="singin-email" name="singin-email" required>
                                    </div><!-- End .form-group -->

                                    <div class="form-group">
                                        <label for="singin-password">Password *</label>
                                        <input type="password" class="form-control" id="singin-password" name="singin-password" required>
                                    </div><!-- End .form-group -->

                                    <div class="form-footer">
                                        <button type="submit" class="btn btn-outline-primary-2">
                                            <span>LOG IN</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>

                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="signin-remember">
                                            <label class="custom-control-label" for="signin-remember">Remember Me</label>
                                        </div><!-- End .custom-checkbox -->

                                        <a href="#" class="forgot-link">Forgot Your Password?</a>
                                    </div><!-- End .form-footer -->
                                </form>
                                <div class="form-choice">
                                    <p class="text-center">or sign in with</p>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <a href="#" class="btn btn-login btn-g">
                                                <i class="icon-google"></i>
                                                Login With Google
                                            </a>
                                        </div><!-- End .col-6 -->
                                        <div class="col-sm-6">
                                            <a href="#" class="btn btn-login btn-f">
                                                <i class="icon-facebook-f"></i>
                                                Login With Facebook
                                            </a>
                                        </div><!-- End .col-6 -->
                                    </div><!-- End .row -->
                                </div><!-- End .form-choice -->
                            </div><!-- .End .tab-pane -->
                            <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
                                <form action="#">
                                    <div class="form-group">
                                        <label for="register-email">Your email address *</label>
                                        <input type="email" class="form-control" id="register-email" name="register-email" required>
                                    </div><!-- End .form-group -->

                                    <div class="form-group">
                                        <label for="register-password">Password *</label>
                                        <input type="password" class="form-control" id="register-password" name="register-password" required>
                                    </div><!-- End .form-group -->

                                    <div class="form-footer">
                                        <button type="submit" class="btn btn-outline-primary-2">
                                            <span>SIGN UP</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>

                                        <div class="custom-control custom-checkbox">
                                            <input type="checkbox" class="custom-control-input" id="register-policy" required>
                                            <label class="custom-control-label" for="register-policy">I agree to the <a href="#">privacy policy</a> *</label>
                                        </div><!-- End .custom-checkbox -->
                                    </div><!-- End .form-footer -->
                                </form>
                                <div class="form-choice">
                                    <p class="text-center">or sign in with</p>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <a href="#" class="btn btn-login btn-g">
                                                <i class="icon-google"></i>
                                                Login With Google
                                            </a>
                                        </div><!-- End .col-6 -->
                                        <div class="col-sm-6">
                                            <a href="#" class="btn btn-login  btn-f">
                                                <i class="icon-facebook-f"></i>
                                                Login With Facebook
                                            </a>
                                        </div><!-- End .col-6 -->
                                    </div><!-- End .row -->
                                </div><!-- End .form-choice -->
                            </div><!-- .End .tab-pane -->
                        </div><!-- End .tab-content -->
                    </div><!-- End .form-tab -->
                </div><!-- End .form-box -->
            </div><!-- End .modal-body -->
        </div><!-- End .modal-content -->
    </div><!-- End .modal-dialog -->
</div><!-- End .modal -->

<!-- Plugins JS File -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/bootstrap.bundle.min.js"></script>
<script src="assets/js/jquery.hoverIntent.min.js"></script>
<script src="assets/js/jquery.waypoints.min.js"></script>
<script src="assets/js/superfish.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<!-- Main JS File -->
<script src="assets/js/main.js"></script>

<%- include('../layouts/footer.ejs') %>